@Font-face{
  font-family: Play;
  src:url("../../fonts/Play-Bold.ttf");
  src: url('../../fonts/Play-Regular.ttf') ;
}
@font-face {
  font-family: Raleway;
  src: url("../../fonts/Raleway-Bold.ttf");
}
@keyframes animation {
  0%{
    transition: all 1s;
  }

  50%{
    transition: all 1s;
  }

  100%{
    transition: all 1s;
  }
}
*{
  visibility: visible;
}
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
  cursor: pointer;
}
button:active,
button:focus {
  outline: none;
}
html{
  background-color: black;
}
body{
  overflow: hidden;
}
.slide1-arrow{
  position: relative;
  transition: all 1s;
  background-image: url("./arrow.svg");
  background-size: 3vw;
  background-position: center center;
  background-repeat: no-repeat;
  width: 3vw;
  right: 41vw;
  height: 3vw;
  top: 40vw;
}
.first-p{
  transition: all 0.2s;
  color: white;
  position: relative;
  width: 6vw;
  right: 42.5vw;
  height: 3vw;
  top: 40vw;
}
.slide1-arrow:hover{
  position: relative;

transform: scale(0.9)}
.slide1{
  background-image: url("./firstSlide.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  transition: all 0.5s;
position: absolute;
  height: 100vh;
  z-index: 1;
  animation: animation;
  width: 100vw;
}
.first-h1 {
  width: 50vw;
  text-align: center;
  font-size: 7vw;
  position: relative;
  top: 8vw;
  left: 25vw;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
text-shadow:    3px 3px 3px grey;
}


.slide2{
  height: 100vh;
  display: flex;
  transition: all 0.5s;
  z-index: 2;
  width: 100vw;
  position: absolute;

}
.slide2-div1{

  background-image: url("./server.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 100vh;
  width: 50vw;
  background-position-x: 40%;
  flex-grow: 3;
  transform: translateX(-100%);
  transition: all 1s;
}

.slide2-div2{
  background-image: url("./laptop.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
position: relative;
  background-position-x:10%;
  flex-grow: 1;
width: 48.73vw;

  transform: translateX(100%);
  transition: all 0.8s ease-in-out;
  height: 50vh;

}
.slide2-div3{
  background-image: url("./girl.png");
  width: 48.73vw;
  background-size:cover;
  background-position: center center;

  background-repeat: no-repeat;
  background-position-x: 40%;
  flex-grow: 1;
  transform: translateX(100%);
  transition: all 1.2s ease-in-out;

  height: 50vh;
}
.slide2-div1-front h1{
  width: 50vw;
  text-align: start;
  font-size: 5vw;
  position: relative;
  top: 55%;
  left: 2vw;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-1{
  transition: all 1s;
}
.slide2-1-1-div1-front h1{
  width: 50vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  top: 55%;
  left: 2vw;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-1-div1-front h1{
  width: 50vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  top: 55%;
  left: 2vw;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div1-back h1{
  width: 50vw;
  text-align: start;
  font-size: 5vw;
  position: relative;
  top: 55%;
  left: 2vw;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div2-front h1{
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div2-1-front h1{
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div2-back h1{
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div3 h1{
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}


.slide2 {
  height: 100vh;
  display: flex;
  transition: all 0.5s;
  z-index: 2;
  width: 100vw;
  position: absolute;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  animation: animation;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card-inner-2 {
  position: absolute;
  width: 50vw;
height: 100%;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card-inner-3 {
  position: absolute;
  width: 50vw;
  height: 100%;
  top: 50%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */
.slide2-div1-front, .slide2-div1-back {
  position: absolute;
  width: 50vw;
  height: 100vw;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.slide2-div1-front {
  background-image: url("./server.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 100vh;
  width: 51.5vw;
  background-position-x: 40%;
  flex-grow: 3;
  transform: translateX(-100%);
  transition: all 0.5s;
}

/* Style the back side */
.slide2-div1-back {
  background-image: url("./manWithPhone.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 100vh;
  width: 51.5vw;
  background-position-x: 40%;
  flex-grow: 3;
  transition: all 0.5s;
  transform: rotateX(180deg) ;
}
.slide2-div2-front, .slide2-div2-back {
  position: absolute;
  width: 50vw;
  height: 100vw;
  backface-visibility: hidden;
}
.slide2-div2-front {
  background-image: url("./laptop.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  background-position-x:10%;
  flex-grow: 1;
  width: 48.3vw;
  transform: translateX(300%);
  transition: all 0.6s ease-in-out;
  height: 50vh;
}

/* Style the back side */
.slide2-div2-back {
  background-image: url("./laptop2.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 48.5vw;
  background-position-x: 0%;
  flex-grow: 3;
  transition: all 0.5s;
  transform: rotateX(180deg) translateX(106.19%);
}
.slide2-div3-front, .slide2-div3-back {
  position: absolute;
  width: 50vw;
  height: 100vw;
  backface-visibility: hidden;
}
.slide2-div3-front {
  background-image: url("./girl.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  background-position-x:10%;
  flex-grow: 1;
  width: 48.3vw;
  transform: translateX(300%);
  transition: all 0.8s ease-in-out;
  height: 50vh;
}

/* Style the back side */
.slide2-div3-back {
  background-image: url("./handle.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 48.5vw;
  background-position-x: 0%;
  flex-grow: 3;
  transition: all 0.5s;
  transform: rotateX(180deg) translateX(106.19%)
}
.slide2-div3-back h1 {
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div3-front h1 {
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div3-1-front h1 {
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-1 {
  height: 100vh;
  display: flex;
  transition: all 0.5s;
  z-index: 2;
  width: 100vw;
  position: absolute;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card2-1-inner {
  position: relative;
  max-width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
    transform-style: preserve-3d;
}
.flip-card2-1-1-inner{
  position: relative;
  max-width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card2-1-inner-2 {
  position: absolute;
  width: 50vw;
  height: 100%;

  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card2-1-inner-3 {
  position: absolute;
  width: 50vw;
  height: 100%;
  top: 50%;
  transition: transform 0.9s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */
.slide2-1-div1-front, .slide2-1-div1-back {
  position: absolute;
  width: 50vw;
  height: 100vw;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.slide2-1-div1-front {
  background-image: url("./handleWithPhone.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 51.5vw;
  background-position-x: 40%;
  flex-grow: 3;
  transform: translateY(-100%);
  transition: all 0.5s;
}
.slide2-1-1-div1-front{
  background-image: url("./girl.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 51.5vw;
  background-position-x: 40%;
  flex-grow: 3;
  transform: translateY(200%);
  transition: all 0.5s;
}
/* Style the back side */

.slide2-div2-1-front, .slide2-div2-1-back {
  position: absolute;
  width: 50vw;
  height: 50vw;
  backface-visibility: hidden;
}
.slide2-div2-1-front {
  background-image: url("./laptop.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  background-position-x:10%;
  flex-grow: 1;
  width: 48.3vw;
  transform: translateX(-300%);
  transition: all 0.6s ease-in-out;
  height: 50vh;
}

/* Style the back side */
.slide2-div2-1-back {
  background-image: url("./laptop2.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 48.5vw;
  background-position-x: 0%;
  flex-grow: 3;
  transition: all 0.5s;
  transform: rotateX(180deg) translateX(106.19%);
}
.slide2-div3-1-front, .slide2-div3-1-back {
  position: absolute;
  width: 50vw;
  height: 100vw;
  backface-visibility: hidden;
}
.slide2-div3-1-front {
  background-image: url("./code.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  background-position-x:10%;
  flex-grow: 1;
  width: 48.3vw;
  transform: translateX(-300%);
  transition: all 0.8s ease-in-out;
  height: 50vh;
}

/* Style the back side */
.slide2-div3-1-back {
  background-image: url("./handle.png");
  background-size: cover;
  background-position: center center;

  background-repeat: no-repeat;
  height: 50vh;
  width: 48.5vw;
  background-position-x: 0%;
  flex-grow: 3;
  transition: all 0.5s;
  transform: rotateX(180deg) translateX(106.19%)
}
.slide2-div3-1-back h1 {
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide2-div3-1-front h1 {
  width: 37vw;
  text-align: start;
  font-size: 3vw;
  position: relative;
  left: 5vw;
  top:55%;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  color: white;
  text-shadow:    3px 3px 3px grey;
}
.slide3{
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  transition: all 1s;
display: flex;
  opacity: 0;
}

.slide3-h1{
  font-size: 4vw;
  color: #0F72FF;
  margin-bottom: 1vw;


}
.slide3-text{
  width: 35vw;
  position: relative;
  top:15vw;
  font-size: 1.3vw;
  font-weight: 400;
  right: -10vw;
  text-align: justify;
  color: black;
}
.slide3-text p{
  margin-bottom: 1vw;
}
.slide3-back-h1{
  position: absolute;
  right: 13vw;
  top: 34vw;
width: 100vw;
opacity: 0.05;
  font-size: 12vw;
  z-index: 2;
  transition: all 1s;
  transform: translateX(-30%);
}
.slide3-blue-rect{
  background: linear-gradient(99.48deg, #35B4FE 0%, #015AFF 100%), #6295F8;
  width: 30vw;
  height: 100vh;
  position: relative;
  left: 25vw;
  z-index: 3;
  display: flex;
  transition: all 1s;
}
.slide3-div-img{
  width: 25vw;
  height: 35vw;
  left: 3vw;
  background-image: url("./man.png");
  background-size: contain;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
align-self: center;
}
.slide3-button-back{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
top: 31.5vw;
  border: none;

  background: #0F72FF;
  align-self: baseline;

  z-index: 99999;
}
.slide3-button-back:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;

  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
.slide3-button-next{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  left: 3.5vw;
  top:28vw;
  border: none;
  background: #0F72FF;
  align-self: baseline;

  z-index: 99999;
}
.slide3-button-next:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;
  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.arrow-back{

  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
  transform: rotate(180deg);
}
.arrow-next{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
}
.slide3-counter-h1{
  color: white;
  position: relative;
  font-size: 9vw;
  top: 18vw;
  left: 5vw;
}
.slide4{
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 4 ;
  transition: all 1s;
  display: flex;
  opacity: 0;
  transform: translateX(-400%) ;
}

.slide4-h1{
  font-size: 4vw;
  color: #FF8E50;
  margin-bottom: 1vw;


}
.slide4-text{
  width: 35vw;
  position: relative;
  top:15vw;
  font-size: 1.3vw;
  font-weight: 400;
  right: -10vw;
  text-align: justify;
  color: black;
}
.slide4-text p{
  margin-bottom: 1vw;
}
.slide4-back-h1{
  position: absolute;
  right: 13vw;
  top: 35vw;
  width: 110vw;
  opacity: 0.05;
  font-size: 11vw;
  z-index: 2;
  transition: all 1.5s;
  transform: translateX(-30%);
}
.slide4-blue-rect{
  background: linear-gradient(152.22deg, #FFCA5E 0%, #FF834D 100%);
  width: 30vw;
  height: 100vh;
  position: relative;
  left: 25vw;
  z-index: 3;
  opacity: 0;
  display: flex;
  transition: all 1s ease-in-out ;
}
.slide4-div-img{
  width: 25vw;
  height: 35vw;
  left: 3vw;
  background-image: url("./orangeGirl.png");
  background-size: contain;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  align-self: center;
}
.slide4-button-back{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  top: 31.5vw;
  border: none;

  background: #FF834D;  align-self: baseline;

  z-index: 99999;
}
.slide4-button-back:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;

  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
.slide4-button-next{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  left: 3.5vw;
  top:28vw;
  border: none;
  background: #FF834D;  align-self: baseline;

  z-index: 99999;
}
.slide4-button-next:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;
  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.arrow-back{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
  transform: rotate(180deg);
}
.arrow-next{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
}
.slide4-counter-h1{
  color: white;
  position: relative;
  font-size: 9vw;
  top: 18vw;
  left: 5vw;
}
.slide5{
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 5 ;
  transition: all 1s;
  display: flex;
  opacity: 0;
  transform: translateX(-400%) ;
}

.slide5-h1{
  font-size: 4vw;
  color: #F83D47;
  margin-bottom: 1vw;


}
.slide5-text{
  width: 35vw;
  position: relative;
  top:15vw;
  font-size: 1.3vw;
  font-weight: 400;
  right: -10vw;
  text-align: justify;
  color: black;
}
.slide5-text p{
  margin-bottom: 1vw;
}
.slide5-back-h1{
  position: absolute;
  right: 12vw;
  top: 35vw;
  width: 110vw;
  opacity: 0.05;
  font-size: 10vw;
  z-index: 2;
  transition: all 1s;
  transform: translateX(-30%);
}
.slide5-blue-rect{
  background: linear-gradient(152.22deg, #FF873A 0%, #FF284B 100%);
  width: 30vw;
  height: 100vh;
  position: relative;
  left: 25vw;
  z-index: 3;
  opacity: 0;
  display: flex;
  transition: all 1s ease-in-out  ;
}
.slide5-div-img{
  width: 25vw;
  height: 35vw;
  left: 3vw;
  background-image: url("./people.svg");
  background-size: contain;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  align-self: center;
}
.slide5-button-back{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  top: 31.5vw;
  border: none;

  background: #F83D47;
  align-self: baseline;

  z-index: 99999;
}
.slide5-button-back:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;

  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
.slide5-button-next{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  left: 3.5vw;
  top:28vw;
  border: none;
  background: #F83D47;  align-self: baseline;

  z-index: 99999;
}
.slide5-button-next:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;
  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.arrow-back{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
  transform: rotate(180deg);
}
.arrow-next{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
}
.slide5-counter-h1{
  color: white;
  position: relative;
  font-size: 9vw;
  top: 18vw;
  left: 5vw;
}
.slide6{
  position: absolute;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 6 ;
  transition: all 1s;
  display: flex;
  opacity: 0;
  transform: translateX(-400%) ;
}

.slide6-h1{
  font-size: 4vw;
  color: #7044FB;
  margin-bottom: 1vw;


}
.slide6-text{
  width: 35vw;
  position: relative;
  top:10vw;
  font-size: 1.3vw;
  font-weight: 400;
  right: -10vw;
  text-align: justify;
  color: black;
}
.slide6-text p{
  margin-bottom: 1vw;
}
.slide6-back-h1{
  position: absolute;
  right: 30vw;
  top: 35vw;
  width: 110vw;
  opacity: 0.05;
  font-size: 10vw;
  z-index: 2;
  transition: all 1s;
  transform: translateX(-30%);
}
.slide6-blue-rect{
  background: linear-gradient(152.22deg, #A451FF 0%, #6441FF 100%);  width: 30vw;
  height: 100vh;
  position: relative;
  left: 25vw;
  z-index: 3;
  opacity: 0;
  display: flex;
  transition: all 1s ease-in-out  ;
}
.slide6-div-img{
  width: 25vw;
  height: 35vw;
  left: 3vw;
  background-image: url("./people.svg");
  background-size: contain;
  background-position: center center;

  background-repeat: no-repeat;
  position: relative;
  align-self: center;
}
.slide6-button-back{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  top: 31.5vw;
  border: none;

  background: #7044FB;
  align-self: baseline;

  z-index: 99999;
}
.slide6-button-back:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;

  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);


}
.slide6-button-next{
  height: 3.5vw;
  display: block;
  min-width: 3.5vw;
  position: relative;
  left: 3.5vw;
  top:28vw;
  border: none;
  background: #7044FB;  align-self: baseline;

  z-index: 99999;
}
.slide6-button-next:hover{
  height: 3.8vw;
  min-width: 3.9vw ;
  position: relative;
  display: block;
  z-index: 999999;
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
}
.arrow-back{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
  transform: rotate(180deg);
}
.arrow-next{
  height: 2vw;
  position: relative;
  top: 0.7vw;
  right: 0.2vw;
}
.slide6-counter-h1{
  color: white;
  position: relative;
  font-size: 9vw;
  top: 18vw;
  left: 5vw;
}
.slide7{
  height: 100vh;
  width: 100vw;
  transition: all 1s;
  background-color: white;

  z-index: 1000;
}
.slide7-h1{
  opacity: 0.05;
  font-size: 9vw;
  position: relative;
  top: 7vw;
  right: 15vw;
}
